/jscover.log
/jscoverage-highlight.css
/jscoverage-ie.css
/jscoverage-throbber.gif
/jscoverage.css
/jscoverage.html
/jscoverage.js
/jscoverage.json
/results.csv
/jp.mzw.revajaxmutator.test.roundcubemail.RoundcubemailTest#testComposeMail/
/original-src/
